*{
  padding: 0;
  margin: 0;
}

body{
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper{
  width: 98%;
  max-width: 1440px;
  margin: 0 auto;
}

/** topLine style */

#topLine{
  /* position: relative; */
  width: 100vw;
  font-size: 1.5rem;
  background-color: black;
  color: white;
  line-height: 5rem;
  border-bottom: 1px dotted white;
  overflow: hidden;
}

#contactInfo{
  /* background-color: lightblue; */
  width: 40%;
  float: left;
  font-size: 1rem;
}

nav{
  width: 60%;
  /* background-color: pink; */
  float: right;
  text-align: right;
}
